<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hedera Shop @(string.IsNullOrEmpty(ViewBag.Title) ? "" : " - " + ViewBag.Title)</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-fixed-top white-color">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Hedera Shop", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">                
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Магазин", "Index", "Home")</li>
                    <li>@Html.ActionLink("Лукбук", "About", "Home")</li>
                    <li>@Html.ActionLink("Блог", "Contact", "Home")</li>
                    <li><a href="https://vk.com/hederashop"><img src="~/Content/img/socials/vk.svg" width="22" /></a></li>
                    <li><a href="facebook.com"><img src="~/Content/img/socials/fb.svg" width="22" /></a></li>
                    <li><a href="https://www.instagram.com/hedera_shop/"><img src="~/Content/img/socials/inst.svg" width="22" /></a></li>
                    @*@Html.Partial("_LoginPartial")*@
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
