<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="~/Content/img/favicon.ico">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Молодой украинский производитель сумок и рюкзаков для активной городской жизни." />
    <title>Hedera Shop @(string.IsNullOrEmpty(ViewBag.Title) ? "" : " - " + ViewBag.Title)</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript" src="../Scripts/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="../Scripts/angular.min.js"></script>
    <script type="text/javascript" src="../Scripts/lib/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="../Scripts/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="../Scripts/lib/angular-file-model.js"></script>
    <script type="text/javascript" src="../Scripts/lib/jquery.dd.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/angular-ui/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="../app/app.js"></script>
    <script type="text/javascript" src="../app/baseController.js"></script>

</head>
<body class="@ViewBag.PageClass">
    <div class="navbar navbar-fixed-top white-color">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </button>
                @Html.ActionLink("Hedera Shop", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @*<li>@Html.ActionLink("Магазин", "Index", "Home")</li>
                        <li>@Html.ActionLink("Лукбук", "About", "Home")</li>
                        <li>@Html.ActionLink("Блог", "Contact", "Home")</li>*@
                    <li class="visible-xs"><a href="../#catalog" data-toggle="collapse" data-target=".navbar-collapse">Каталог</a></li>
                    <li>@Html.ActionLink("Доставка и оплата", "DeliveryDetails", "Home")</li>
                    <li class="hidden-xs"><a target="_blank" data-toggle="collapse" data-target=".navbar-collapse" href="https://vk.com/hederashop"><img class="svg" src="~/Content/img/socials/vk.svg" width="22" /></a></li>
                    <li class="hidden-xs"><a target="_blank" data-toggle="collapse" data-target=".navbar-collapse" href="facebook.com"><img class="svg" src="~/Content/img/socials/fb.svg" width="22" /></a></li>
                    <li class="hidden-xs"><a target="_blank" data-toggle="collapse" data-target=".navbar-collapse" href="https://www.instagram.com/hedera_shop/"><img class="svg" src="~/Content/img/socials/inst.svg" width="22" /></a></li>
                    @*@Html.Partial("_LoginPartial")*@
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>
    <footer>
        <hr />
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <h4 class="text-muted text-uppercase">Hedera Shop, 2016</h4>
                    @*<a href="../">Главная</a><br />
                        <a href="../Home/DeliveryDetails">Доставка и оплата</a><br />*@
                    @*<a href="../Home/ContactUs">Свяжитесь с нами</a><br />*@
                </div>
                <div class="col-xs-6">
                    <h4 class="text-muted pull-right">+380634258431</h4>
                </div>
            </div>
        </div>
    </footer>

    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            $('img.svg').each(function () {
                var $img = jQuery(this);
                var imgID = $img.attr('id');
                var imgClass = $img.attr('class');
                var imgURL = $img.attr('src');

                $.get(imgURL, function (data) {
                    // Get the SVG tag, ignore the rest
                    var $svg = $(data).find('svg');

                    // Add replaced image's ID to the new SVG
                    if (typeof imgID !== 'undefined') {
                        $svg = $svg.attr('id', imgID);
                    }
                    // Add replaced image's classes to the new SVG
                    if (typeof imgClass !== 'undefined') {
                        $svg = $svg.attr('class', imgClass + ' replaced-svg');
                    }

                    // Remove any invalid XML tags as per http://validator.w3.org
                    $svg = $svg.removeAttr('xmlns:a');

                    // Replace image with new SVG
                    $img.replaceWith($svg);

                }, 'xml');

            });
        });
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-84362201-1', 'auto');
        ga('send', 'pageview');

    </script>
</body>
</html>
