@model IEnumerable<BagShop.Models.ProductPreviewModel>
@{
    ViewBag.Title = "Hedera Shop";
}

@foreach(var product in Model)
{
    <a>@product.Title</a>
    <a>@product.Price</a>
}

<div class="banner">

</div>

<div class="row banner-info white-color">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 text-center">
        <h4>We have the best bags</h4>
        <a href="#" class="btn btn-lg btn-buy">Купить</a>
    </div>
    <div class="col-lg-4"></div>
</div>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-lg-3">
            <div class="col-lg-12">
                <img src="@product.TitleImage" />
            </div>
            <div class="col-lg-12">
                @Html.ActionLink(product.Title, "View", "Home", product.ID, new { @class = "" })
            </div>
            <div class="col-lg-12">
                @Html.ActionLink("Купить", "Buy", "Home", product.ID, new { @class = "btn btn-default" })
            </div>
        </div>
    }
</div>