@model BagShop.Models.ProductViewModel
@{
    ViewBag.Title = Model.Title;
}

<div class="row">
    <div class="col-lg-12">@Model.Title</div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="colours pull-right">
            @foreach(var colour in Model.Colours)
            {
                <img class="img-circle" src="@colour.PreviewImage" />
            }
        </div>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                @for (var i = 0; i < Model.Colours.FirstOrDefault().Images.Count(); i++)
                {
                    <li data-target="#myCarousel" data-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
                }
            </ol>

            <div class="carousel-inner" role="listbox">
                @foreach (var image in Model.Colours.FirstOrDefault().Images)
                {
                    <div class="item active">
                        <img src="@image" />
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <h5>Описание:</h5>
        <p>@Model.Description</p>
        <h5>Состав:</h5>
        <p>@Model.Composition</p>
        <h5>Цена: </h5>
        <span class="price">@Model.Price грн.</span>
        @Html.ActionLink("Купить", "Buy", "Home", Model.ID, new { @class = "btn btn-default pull-right" })
    </div>
</div>

